.col-1{
  background-color: rgba(113, 100, 91, 0.543);
   height: 520px;
   width: 350px;
   padding: 30px;
}
.col-2{
  background-color: rgba(113, 100, 91, 0.543); 
  height: 520px;
  width: 350px;
  margin-left: 30px;
  
}
.col-2 h3{
  font-family: 'Marck Script', cursive;
  margin-top: 60px;
}
.btn{
  margin-top: 9px;
}
#cname{
  margin-top: 10px;
}
.video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio:16/9){
 .video{
  width: 100%;
  height: auto;
 }
}
@media (max-aspect-ratio:16/9){
  .video{
   width: auto;
   height: 100%;
  }
  
 }
 
 .content{
  display: flex;

 }
 .content h1{
  font-family: 'Marck Script', cursive;
 
 }
 @media(max-width:650px){
  .content{
    display: block;
    margin-left: 10%;
  }
  .col-1{
    margin-top: 0px;
    height: 100px;
    width: 300px;
   background-color:  rgba(113, 100, 91, 0.018);
  }
  .col-2{
    margin-top: 100px;
    margin-left: 0px;
    height: 300px;
    width: 300px;
    background-color:  rgba(86, 86, 86, 0.356);
  }
  
  #cname{
    margin-top: 5px;
  }
  .col-2 h3{
    
    margin-top: 20px;
  }
  .btn{
    margin-top: 10px;
  }
 }